In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import math
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [3]:
test = pd.read_csv('../data/test.txt')

In [5]:
test.describe()

                1:
count          692
unique         415
top     2005-07-25
freq             5

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 693 entries, (1488844, 3.0) to (1272122, 5.0)
Data columns (total 1 columns):
1:    692 non-null object
dtypes: object(1)
memory usage: 12.9+ KB